html {
    position: relative;
    min-height: 100%;
  }
body{
    background-color:lightgray;
    /* padding-bottom: 70px; */
    margin-bottom: 65px;
    font-family: 'Helvetica', sans-serif;
}

.aquaWhite{
    background-color:lightseagreen;
    color:white;
    padding:15px;
    font-weight: bold;
    position: relative;
    left:75px;
}

.panel{
    padding:30px;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    div.navbar-header { background-color:lightseagreen; }
    }
    
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    div.navbar-header { background-color:lightseagreen; }
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    div.navbar-header  { background-color:lightseagreen; }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    div.navbar-header { background-color:lightseagreen; }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    div.navbar-header { background-color:lightseagreen; }
}

h1{
    color:lightseagreen;
    font-weight:bold;
}

h2{
    color:lightseagreen;
    font-weight:bold;
}

h4{
    color:lightseagreen;
    font-weight:bold;
    text-align: center;
}

.onethirdimage{
    width:33.3%;
    float: left;
    margin: 0px 30px 15px 0px;
}

.HomeText{
    font-size: 16px;
    color: gray;
}

.hoverColor:hover{
    border-color:lightseagreen;
    border-style:solid;
    border-width: 2px;
    margin:-5px;
    }

footer {
    /* position: fixed; */
    position: absolute;
    height: 65px;
    bottom: 0;
    width: 100%;
}

.footerHR{
    height:5px;
    background-color:lightseagreen;
}

.footerBlock{
    background-color: #595c60;
    color:white;
    font-size:14px;
    text-align: center;
    padding:15px;
}


